.site-layout-content {
  background: #fff;
  padding: 24px;
  margin: 0;
 
}

.hero-card {
  text-align: center;
}

.hero-card img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.hero-card-big {
  transform: scale(1.1);
  z-index: 1;
}



.hero-card .ant-card-meta {
  margin-top: 8px;
}

.hero-card .ant-card-meta-title {
  font-size: 16px;
  font-weight: bold;
}

.hero-card .ant-card-meta-description {
  font-size: 14px;
  color: #888;
}

@media (max-width: 768px) {
  .heroes-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hero-card-big {
    transform: scale(1.1);
  }
}

.footer {
  width: 100%;
  background-color: #f0f2f5;
  border-top: 1px solid #f0f0f0;
  text-align: center;
  font-size: 12px;
  color: #888;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  position: sticky !important;
  bottom: 0;
  left: 0;
  padding: 16px 20px; /* Adjust padding as needed */
  display: flex;
  justify-content: center;
}

.form-item {
  margin-bottom: 16px;
}

.form-item .ant-typography {
  display: block;
  margin-bottom: 8px;
}

.form-item .ant-btn-group {
  display: flex;
  flex-wrap: wrap;
}

.form-item .ant-btn {
  flex: 1;
  text-align: center;
  margin-bottom: 8px; /* Adjusts the spacing for mobile */
}

.form-item .ant-btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form-item .ant-btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-item .ant-checkbox-wrapper {
  display: flex;
  align-items: center;
}

.submit-button {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.data-policy-link {
  float: right;
  font-size: 14px;
  color: #1890ff;
}

.badge-card,
.first-step-card {
  text-align: left;
  height: 170px; /* Set the height of the cards */
}

.first-step-card {
  display: flex;
  align-items: center;
}

.placeholder-image {
  width: 130px; /* Set the width of the placeholder image */
  height: 170px; /* Set the height of the placeholder image */
  margin-right: 10px;
}

.profile-link,
.view-all-link {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #1890ff;
}

.ranking-section {
  margin-top: 20px;
}

.ranking-list {
  padding-left: 0;
  list-style: none;
  font-size: 14px;
}

.ranking-list li {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .submit-button {
    width: 100%; /* Full width button for mobile screens */
  }
  .form-item .ant-btn-group {
    flex-direction: column;
  }
  .form-item .ant-btn {
    width: 100%;
    margin-bottom: 8px; /* Adjust spacing */
  }
}
