html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content-container {
    flex: 1;
    padding: 20px;
    overflow: auto;
  }
  
  footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
  }
  