@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.navigator-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  height: 60px; /* Adjust the height as needed */
  position: relative;
}

.hamburger-menu {
  font-size: 24px;
  cursor: pointer;
  display: none; /* Hide by default */
}

.logo {
  position: fixed;
  left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px; /* Adjust based on your logo's design */
}

.nav-menu {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.nav-menu .ant-menu-item {
  margin: 0 15px;
}

.user-section {
  position: fixed;
  right: 20px;
  display: flex;
  align-items: center;
}

.notification-badge {
  margin-right: 10px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px;
}

.avatar {
  width: 40px !important;
  height: 40px !important;
  margin-right: 10px;
}

.username {
  margin-right: 15px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu.visible {
  display: block;
}

#root>div>div>div.navigator-bar>div.user-section>span.ant-badge.notification-badge.css-dev-only-do-not-override-1uq9j6g>sup {
  left: -10px;
  max-width: 30px;
}

/* Fix the display of nav menu when switching between screen sizes */
@media (min-width: 769px) {
  .nav-menu {
    display: flex !important; /* Ensure nav menu displays as flex on desktop */
  }

  .user-section {
    display: flex !important; /* Show user section on larger screens */
  }

  .hamburger-menu {
    display: none; /* Hide hamburger menu on larger screens */
  }
}

@media (max-width: 768px) {
  .navigator-bar {
    justify-content: space-between;
    padding: 5px 20px; /* Add padding for mobile screens */
    height: 50px; /* Increase the height for mobile screens */
  }

  .logo {
    display: flex;
    justify-content: end; /* Center the logo in the available space */
    right: 20px;
    z-index: 0;
  }

  .logo img {
    height: 30px; /* Adjust for smaller screens */
  }

  .nav-menu {
    display: none; /* Hide the menu on smaller screens */
  }

  .nav-menu.visible {
    display: flex; /* Show the menu when visible class is added */
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .user-section {
    display: none; /* Hide the user section on smaller screens */
  }

  .hamburger-menu {
    display: block; /* Show hamburger menu on smaller screens */
    z-index: 1;
  }
}

@media (max-width: 480px) {
  .navigator-bar {
    justify-content: space-between;
    padding: 5px 20px; /* Add more padding for smaller screens */
    height: 50px; /* Further increase the height for smaller screens */
  }

  .logo img {
    height: 40px; /* Further adjust for very small screens */
  }
}
