@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.registration-success-modal .ant-modal-content {
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.registration-success-modal .ant-modal {
  top: auto;
  bottom: 20px; /* Adjust this value as needed to move the modal further down */
}

.modal-content {
  text-align: left;
}

.icon-text-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.success-icon {
  font-size: 22px;
  color: green;
  margin-right: 8px;
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.modal-text {
  font-size: 14px;
  margin-bottom: 24px;
}

.noted-button {
  width: 80px;
  height: 32px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid var(--Primary-6, #1890FF);
  background: var(--Primary-6, #1890FF);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  font-family: 'Roboto', sans-serif;
}
