@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --base-font-size: 16px;
  --small-font-size: 14px;
  --smaller-font-size: 12px;
  --card-padding: 8px; /* Reduced padding */
  --card-padding-small: 4px; /* Reduced padding */
  --primary-color: #1890ff;
  --border-radius: 8px;
}

body {
  font-size: var(--base-font-size);
  font-family: 'Roboto', sans-serif;
}

.width-full {
  width: 100% !important;
}

.site-layout-content {
  background: #fff;
  margin: 0;
  padding: 0 16px;
}

.ant-card {
  border-radius: var(--border-radius);
  margin-bottom: 16px;
  overflow: hidden;
}

.ant-card-head {
  border-bottom: none;
}

.ant-card-head-title {
  font-size: var(--small-font-size);
  font-weight: 500;
}

.ant-card-body {
  padding: var(--card-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.canteen-heroes-card .ant-card-body {
  padding: var(--card-padding-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-card {
  text-align: center;
  margin-bottom: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-card img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.doctor-availability-status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 3px;
}

.doctor-availability-status.true {
  background-color: green;
}

.doctor-availability-status.false {
  background-color: orange;
}

.form-item {
  margin-bottom: 16px;
  width: 100%;
}

.form-item .ant-typography {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

.form-item .ant-btn-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.form-item .ant-btn {
  flex: 1 1 calc(50% - 4px);
  text-align: center;
  margin: 0 2px 8px;
  border-radius: var(--border-radius);
  white-space: normal; /* Allow text to wrap */
  overflow: visible;
  text-overflow: clip;
}

.submit-button {
  display: block;
  width: 100%;
  border-radius: var(--border-radius);
}

.data-policy-link {
  float: right;
  font-size: var(--smaller-font-size);
  color: var(--primary-color);
}

.badge-card,
.first-step-card {
  text-align: center;
  height: auto;
}

.badge-card .ant-progress {
  margin: 16px 0;
}

.placeholder-image {
  width: 100%;
  height: auto;
  
}

.profile-link,
.view-all-link {
  display: block;
  margin-top: 10px;
  font-size: var(--smaller-font-size);
  color: var(--primary-color);
}

.ranking-card .ant-table-wrapper {
  margin: 0 auto;
  width: 100%;
}

.ranking-card .ant-table-thead > tr > th {
  text-align: left;
}

.ranking-card .ant-table-tbody > tr > td {
  text-align: left;
}

.ranking-card .ant-table-thead > tr > th,
.ranking-card .ant-table-tbody > tr > td {
  padding: 12px 16px;
  white-space: normal; /* Allow text to wrap */
  overflow: visible;
  text-overflow: clip;
}

.last-row-card .ant-card-body {
  padding: var(--card-padding-small);
}

.last-row-card .ant-col {
  padding: 4px;
}

.last-row-card .ant-card-meta-title {
  font-size: var(--smaller-font-size);
}

@media (max-width: 768px) {
  .site-layout-content {
    padding: 0 8px; /* Reduced padding */
  }

  .ant-card {
    width: 100%; /* Make cards fit the screen width */
  }

  .ant-card-head-title {
    font-size: var(--small-font-size);
  }

  .ant-card-body {
    padding: var(--card-padding-small);
  }

  .form-item .ant-btn {
    font-size: var(--smaller-font-size);
    padding: 4px 4px; /* Reduced padding */
    height: auto;
  }

  .submit-button {
    font-size: var(--small-font-size);
    height: auto;
    padding: 8px 0;
  }

  .heroes-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
  }

  .heroes-row .ant-col {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 8px; /* Reduced margin */
  }

  .heroes-row .ant-col:first-child {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .heroes-row .ant-col:nth-child(2),
  .heroes-row .ant-col:nth-child(3) {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .last-row-card .ant-card-body {
    padding: var(--card-padding-small);
  }

  .last-row-card .ant-col {
    padding: 2px; /* Reduced padding */
  }

  .last-row-card .ant-card-meta-title {
    font-size: var(--smaller-font-size);
  }

  .ranking-card .ant-table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  /* Specific CSS for first-step-card on mobile */
  .first-step-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; /* Ensure image and text are side by side */
  }

  .first-step-content img {
    width: 55%; /* Take half the width */
    height: 100%; /* Take full height */
    object-fit: cover; /* Cover the container */
  }

  .first-step-content > div {
    flex: 1; /* Take the remaining space */
    padding-left: 8px; /* Add some space between image and text */
  }
}
