.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px; /* Adjust this value to set the gap between login page and footer */
}

.footer {
  flex-shrink: 0;
}
