html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  position: relative;
  height: 100vh;
  width: 100vw;
}

form {
  position: relative;
  z-index: 1;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

nav {
  margin-top: 20px;
}
